@using AntDesign

@if (Label is not null)
{
<div>
@Label:
</div>
}
<div>
  <Input TValue="string" @bind-Value:get="Value" @bind-Value:set="ValueChanged" />
</div>

@code {
    [Parameter]
    public string Value { get; set; }
    
    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }
    
    [Parameter]
    public string Label { get; set; }
}